name: Data Preprocessing Workflow

# Menentukan kapan workflow ini akan dijalankan
on:
  push:
    branches:
      - main # Jalankan ketika ada push ke branch 'main'
  # Menambahkan trigger manual agar bisa dites kapan saja
  workflow_dispatch:

jobs:
  run_preprocessing:
    runs-on: ubuntu-latest # Jalankan di mvirtual machine Ubuntu

    permissions:
      contents: write

    steps:
      # 1. Checkout Kode: Mengambil semua file dari repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # 3. Instal Dependencies
      - name: Install dependencies (pandas, scikit-learn, tabulate, mlflow)
        # Instal library yang dibutuhkan di automate_Arief-Sidik-Wijayanto.py
        run: |
          pip install pandas scikit-learn tabulate mlflow

      # 4. Jalankan Script Preprocessing
      - name: Execute preprocessing script
        # Jalankan script dari root directory
        run: python preprocessing/automate_Arief-Sidik-Wijayanto.py

      # 5. Upload Artefak Hasil Preprocessing
      - name: Upload processed dataset artifact
        uses: actions/upload-artifact@v4
        with:
          name: processed-data-for-training
          # Path di mana kode automate_Arief-Sidik-Wijayanto.py menyimpan output CSV
          path: preprocessing/examScorePrediction_preprocessing/data_preprocessing.csv

      # 6. Konfigurasi Git Identity
      - name: Configure Git Identity
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # 7. Commit dan Push File CSV yang Diperbarui
      - name: Commit processed data back to repository
        run: |
          git add preprocessing/examScorePrediction_preprocessing/data_preprocessing.csv
          git commit -m "CI: Auto-generated updated preprocessing data via workflow" || echo "No changes to commit"
          git push
        env:
          # GITHUB_TOKEN disediakan secara otomatis oleh GitHub Actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Workflow Success Message
        run: echo "Preprocessing Complete. Artifact uploaded and committed successfully."
