name: Data Preprocessing Workflow

# Menentukan kapan workflow ini akan dijalankan
on:
  push:
    branches:
      - main # Jalankan ketika ada push ke branch 'main'
  # Menambahkan trigger manual agar bisa dites kapan saja
  workflow_dispatch:

jobs:
  run_preprocessing:
    runs-on: ubuntu-latest # Jalankan di mvirtual machine Ubuntu

    steps:
      # 1. Checkout Kode: Mengambil semua file dari repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      # 3. Instal Dependencies
      - name: Install dependencies (pandas, scikit-learn, mlflow)
        # Instal library yang dibutuhkan di automate_Arief-Sidik-Wijayanto.py
        run: |
          pip install pandas scikit-learn

      # 4. Jalankan Script Preprocessing
      - name: Execute preprocessing script
        # Jalankan script dari root directory
        run: python preprocessing/automate_Arief-Sidik-Wijayanto.py

      # 5. Upload Artefak Hasil Preprocessing
      - name: Upload processed dataset artifact
        uses: actions/upload-artifact@v4
        with:
          name: processed-data-for-training
          # Path di mana kode automate_Arief-Sidik-Wijayanto.py menyimpan output CSV
          path: preprocessing/examScorePrediction_preprocessing/data_preprocessing.csv

      - name: Workflow Success Message
        run: echo "Preprocessing Complete. Artifact uploaded successfully."
